.meal {
    display: flex;
}

.meal a {
    height: 38px;
    margin-top: 20px;
    width: 100%;
}

.card-body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}
