{% extends 'base.html' %}

{% block container %}
<main class="container">
  <section class="row mx-15">
    <div class="col-12">
      <div class="mx-auto text-center">
        <h1 class="h3 my-5">Личный кабинет. Заказы</h1>
      </div>
      {% for order in orders %}
      <div class="card mt-2 mb-4 order-boss">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <div class="row">
              <div class="col-7">
                <span class="h5 font-weight-bold">Заказ № {{ order.unique_num }}</span>
                <span class="h5 font-weight-bold"> от {{ order.date }}</span>
              </div>
              <div class="col-5 text-right">
                <span class="h5">{{ order.sum|int }} рублей</span>
              </div>
            </div>
          </li>
          <div class="card-body ordered">
            <div class="row orders">
              {% for meal in details[order.unique_num] %}
              <p class="col-2 text-muted">кол-во: {{ meal[0] }}</p>
              <p class="col-8 text-left text-muted">{{ meal[1] }}</p>
              <p class="col-2 text-right text-muted">{{ meal[2] }} руб.</p>
              {% endfor %}
            </div>
          </div>
        </ul>
      </div>
      {% endfor %}
    </div>
  </section>
</main>
{% endblock %}
