{% extends 'base.html' %}

{% block container %}
<main class="container">
  <section class="jumbotron jumbotron-fluid">
    <div class="text-center">
      <h1 class="h2 m-2">Как на счет <br>{{ categories.title }}</h1>
    </div>
  </section>
  <section>
    <div class="row mt-4">
      {% for meal in product_category %}
      <div class="meal col-12 col-md-4">
        <div class="card mb-3">
          <img src="{{ url_for('static', filename='img/'+meal.picture) }}" width="300" height="200" class="card-img-top">
          <div class="card-body">
            <div class="description">
              <h4 class="h5 card-title">{{ meal.title }}</h4>
              <p class="card-text">{{ meal.description }}</p>
            </div>
            {% if is_auth %}
            <a href="/addtocart/{{ meal.id }}" class="btn btn-danger">В корзину</a>
            {% else %}
            <a href="{{ url_for('render_login_page') }}" class="btn btn-danger">В корзину</a>
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
</main>
{% endblock %}

