{% extends 'base.html' %}

{% block container %}
<main class="container mt-3">
  <section>
    <h3 class="my-4">{{ categories.title }}</h3>
    <div class="row mt-4">
      {% for meal in product_category %}
      <div class="meal col-12 col-md-4">
        <div class="card mb-3">
          <img src=https://place-hold.it/300x200 width="300" height="200" class="card-img-top">
          <div class="card-body">
            <div class="description">
              <h4 class="h5 card-title">{{ meal.title }}</h4>
              <p class="card-text">{{ meal.description }}</p>
            </div>
            <a href="/addtocart/{{ meal.id }}" class="btn btn-danger">В корзину</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
</main>
{% endblock %}

