{% extends 'base.html' %}

{% block container %}
<main class="container">
<!--  <section class="russia">-->
<!--    <div class="text-center">-->
<!--      <h4 class="">Товар доблен в корзину</h4>-->
<!--    </div>-->
<!--  </section>-->
  <section class="logo jumbotron jumbotron-fluid banner-main">
    <div class="text-center">
      <h1 class="h2 mt-5 m-2">Всякая еда, чтобы кушать.</h1>
      <h2 class="h3">Прилетит к вам сама</h2>
      <p class="pt-4">Доставка дронами</p>
    </div>
  </section>
  {% for category in categories %}
  <section>
    <h3 class="my-4"><a href="{{ url_for('render_categories_page', category_id=category[1]) }}" class="text-secondary">{{ category[0] }} ></a></h3>
    <div class="row mt-4">
      {% for meal in meals[category[1]] %}
      <div class="meal col-12 col-md-4">
        <div class="card mb-3">
          <img src="{{ url_for('static', filename='img/'+meal.picture) }}" width="300" height="200" class="card-img-top">
          <div class="card-body">
            <div class="description">
              <h4 class="h5 card-title ">{{ meal.title }}</h4>
              <p class="card-text">{{ meal.description }}</p>
            </div>
            <form method="POST" action="{{ url_for('add_to_cart', meal_id=meal.id) }}">
              <h4 class="mt-2 card-text mb-3">{{ meal.price }} рублей</h4>
              <div class="row btn-inp mx-2">
                  <button class="btn m-0 p-0 col-6 btn-danger text-center" type="submit">В корзину</button>
<!--                  <a href="{{ url_for('add_to_cart', meal_id=meal.id) }}" class=" col-6 mx-3 btn btn-danger">В корзину</a>-->
                  <input class="col-4 input_t" name="number" type="number" min="0" max="10" step="1" value="1">
              </div>
            </form>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
  {% endfor %}
</main>
{% endblock %}
