{% extends 'base.html' %}

{% block container %}
<main class="container">
  <section class="jumbotron jumbotron-fluid">
    <div class="text-center">
      <h1 class="h2 mt-5 m-2">Всякая еда, чтобы кушать.</h1>
      <h2 class="h3">Прилетит к вам сама</h2>
      <p class="pt-4">Доставка дронами</p>
    </div>
  </section>
  {% for category in categories %}
  <section>
    <h3 class="my-4"><a href="{{ url_for('render_categories_page', category_id=category[1]) }}" class="text-secondary">{{ category[0] }} ></a></h3>
    <div class="row mt-4">
      {% for meal in meals[category[1]] %}
      <div class="meal col-12 col-md-4">
        <div class="card mb-3">
          <img src=https://place-hold.it/300x200 width="300" height="200" class="card-img-top">
          <div class="card-body">
            <div class="description">
              <h4 class="h5 card-title ">{{ meal.title }}</h4>
              <p class="card-text">{{ meal.description }}</p>
            </div>
            <div class="row btn-inp">
            {% if is_auth %}
            <a href="{{ url_for('add_to_cart', meal_id=meal.id) }}" class="mx-3 btn btn-danger">В корзину</a>
            {% else %}
            <a href="{{ url_for('render_login_page') }}" class="col-5 btn btn-danger">В корзину</a>
            {% endif %}
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>
  {% endfor %}
</main>
{% endblock %}
